@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: #41444b;
  color: white;
}

.info {
  margin-bottom: 1rem;
}

.info h1 {
  font-size: 3rem;
  margin: 1.5rem;
}

.info h3 {
  font-size: 1.5rem;
}

.validate {
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
  margin: 1rem 0;
  visibility: hidden;
}

.has-error {
  visibility: visible;
}

.input input {
  max-width: 80%;
  padding: 0.75rem 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: white;
  text-align: center;
  background: none;
  border: 3px solid white;
  outline: 0;
}

.result h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #fddb3a;
  margin: 3rem 0;
}

.footer {
  position: absolute;
  bottom: 1rem;
  font-size: 1.2rem;
}

.footer a:visited {
  color: white;
}
